<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="selenium" value="%PIPELINE_WORKSPACE%/selenium-dotnet-strongnamed-3.141.0/dist" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <disabledPackageSources>
        <clear />
    </disabledPackageSources>
</configuration>